<div class="root">
<app-home>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id consequuntur aperiam, eius placeat porro atque, consequatur, dolore repellendus modi unde autem pariatur doloremque debitis quam asperiores! Iure recusandae quae quibusdam.</div>
  <app-profile><p> tranclude</p></app-profile>

</app-home>


<nav>
  <a routerLink="/"
     routerLinkActive="active">Home</a>
  <a routerLink="/profile"
     routerLinkActive="active">Profile</a>
  <a routerLink="/settings"
     routerLinkActive="active">Settings</a>
</nav>

<div class="app-container">
  <router-outlet></router-outlet>
</div>

<p [style.background-color]="'darkorchid'" [style.font-size.em]="'3'">
  Quite something!
</p>

<p [ngStyle]="myStyles">
  You say tomato, I say tomato
</p>

<div [ngClass]="myClasses">
  Styles with ngclass
</div>


<input #itemInput
  (keyup.enter)="addItem(itemInput.value); itemInput.value=''">

<button
  (click)="addItem(itemInput.value); itemInput.value=''">
  Add
</button>

<ul *ngIf="items">
  <li *ngFor="let item of items"
      (click)="removeItem(item)"
      [@itemAnim]>{{ item }}</li>
</ul>

{{val|percent:'3.2-3'}}

<input
    (keyup)="searchTerm$.next($event.target.value)">

<ul *ngIf="results">
  <li *ngFor="let result of results | slice:0:9">
    <a href="{{ result.latest }}" target="_blank">
      {{ result.name }}
    </a>
  </li>
</ul>



</div>